# Supabase project: metrogreentechtv@gmail.com's Project (qrcrwkgijvimfpcrgjrf)
NEXT_PUBLIC_SUPABASE_URL=https://qrcrwkgijvimfpcrgjrf.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_GeH2APJjxx0WCd0wf1xGFQ_FecH0ywE
